# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

#local only
local.properties

#compiled files and libraries
*.class
*.jad
*.zip
*.rar
*.pyc

#build process
bin/
build/
deployed/
dist/
webdocs/
j2mepolish.index.txt

#IDE and polish
.eclipseme.tmp/
.polishSettings/
.settings/
default.build
devices/

#OS and environment
*~
.DS_Store

#mercurial
*.rej
*.orig
glob:util/validator/org.javarosa.xform.validator/settings.properties
glob:j2me/demo-app/resources/localizertest.xhtml
glob:j2me/buildfiles/documentation/javadoc/
glob:j2me/javarosa-app/custom-devices.xml

